name: shogi_proverbs
description: A mobile application containing 50 Shogi proverbs.
publish_to: 'none'
version: 0.4.0+6

environment:
  sdk: ^3.10.0
  flutter: ^3.38.0

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  cupertino_icons:
  path_provider:
  url_launcher:
  shogi:
  flutter_shogi_board:
    git:
      url: https://github.com/defuncart/flutter_shogi_board
      ref: main
  hive:
  flutter_riverpod:
  get_it:

dev_dependencies:
  flutter_test:
    sdk: flutter
  arb_generator:
  flutter_lints:
  flutter_launcher_icons:
  app_store_screenshots:
    git:
      url: https://github.com/defuncart/app_store_screenshots
      ref: main

flutter:
  uses-material-design: true
  generate: true
  assets:
    - assets/images/

arb_generator:
  input_filepath: "assets_dev/loca/loca.csv"
  output_directory: "assets_dev/l10n"
  filename_prepend: "l10n_"
  csv_settings:
    delimiter: ";"
    base_index: 1

flutter_launcher_icons:
  image_path: "assets_dev/app_icons/app_icon.png"
  android: true
  image_path_android: "assets_dev/app_icons/android_old.png"
  adaptive_icon_background: "#E2E3D1"
  adaptive_icon_foreground: "assets_dev/app_icons/app_icon_foreground.png"
  adaptive_icon_monochrome: "assets_dev/app_icons/app_icon_foreground.png"
  ios: true
  image_path_ios_dark_transparent: "assets_dev/app_icons/app_icon_foreground_tint.png"
  image_path_ios_tinted_grayscale: "assets_dev/app_icons/app_icon_foreground_tint.png"
  desaturate_tinted_to_grayscale_ios: true
  web:
    generate: true
    image_path: "assets_dev/app_icons/app_icon.png"
    background_color: "#E2E3D1"
    theme_color: "#E2E3D1"
  macos:
    generate: true
    image_path: "assets_dev/app_icons/app_icon.png"
